body{
    background-color: #E3F2FD;
}
.calculator {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}
